<div class="bg-light p-4 rounded-3 my-3 justify-content-center">
    <div class="row">
        <div class="col-lg-2 col-md-3 ">
            <div class="row">
                <div class="col-lg-4 col-sm-1 rounded-2">
                    <button class="btn  btncolor">
                        <i class="bi fs-5 bi-arrow-right"></i>
                    </button>
                </div>
                <div class="col-lg-8   col-sm-6 ">
                    <h6 class="fs mt-2">{{'header.addprod'|translate}}</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-md-8   me-auto ">

            <div class="row justify-content-end ">
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2   ">
                            <div class="form-check form-switch">
                                <input class="form-check-input px-3 " style="transform: scale(1.4);" type="checkbox"
                                    role="switch" id="flexSwitchCheckDefault" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 mt-2 ">
                            <label class="form-check-label "
                                for="flexSwitchCheckDefault">{{'header.active'|translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4  col-sm-4 p-0">
                    <button class="btn btn-dark px-4 " (click)="displayData()">{{'header.save'|translate}}</button>
                </div>
                <div class="col-lg-3 col-md-5  col-sm-4 p-0 ">
                    <button class="btn btn-outline-danger px-4 " (click)="deleteData()"> <i
                            class="bi bi-trash3"></i><span class="px-1">{{'header.delete'|translate}}</span> </button>
                </div>
            </div>

        </div>

    </div>
</div>