<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header> </app-header>
    </div>
    <div class="col-md-6">

      <div>
        <app-user></app-user>
      </div>
      <div>
        <app-resource-reservation></app-resource-reservation>
      </div>
    </div>
    <div class="col-md-6">


      <app-resource></app-resource>

    </div>

    <div class="col-md-6">
      <app-resource-time></app-resource-time>
    </div>
    <div class="col-md-12">
      <app-weekdays></app-weekdays>
    </div>
  </div>
</div>